@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');


// Estilos Generales // 
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root{

    // Primary
    --dark: #24282f;
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --light-gray:  hsl(227, 10%, 90%);

    //Neutral
    --dark-gray: hsl(0, 0%, 59%);
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Kumbh Sans',sans-serif;
    background: var(--dark);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 30px;
    // justify-content: center;
    // align-items: center;
    // height: 90vh;
}

.card{
    background-color: #3c3e44;
    min-width: 320px;
    border-radius: 16px;
    overflow-x: hidden;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
    &-header {
        width: 100%;
        display: block;
        background-color: var(--dark);
    }
    
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--light-gray);

        &-img{
            border: 5px solid var(--dark);
            border-radius: 3%;
            margin-top: calc(-48px - 5px);
            background-color: white;
            margin-top: 10px;
            margin-left: 32px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        }

        &-name{
            margin: 0;
            margin-top: 2rem;
            color: var(--light-gray);
            font-size: 1.8rem;

            span{
                color: var(--light-gray);
                font-weight: 400;
                margin-left: 0.5rem;
            }
        }

        &-country{
            font-size: 1.5rem;
            color: var(--light-gray);
            font-weight: 400;
            margin-bottom: 2rem;
            margin-top: 0.7rem;
        }
    }

    &-footer{
        display: flex;
        justify-content: space-evenly;

        &-social{
            text-align: center;

            h3{
                margin-top: 2rem;
                font-size: 1.8rem;
                margin-bottom: 0.3rem;
                color: var(--light-gray);
            }

            p{
                margin-bottom: 2rem;
                letter-spacing: 0.2rem;
                color: var(--light-gray);
            }
        }
    }
}

.navbar{
    background-color: var(--dark);
    color: white;
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
}

.container-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination{
    list-style: none;
}

.page-link{
    width: 150px;
    height: 30px;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    margin-right: 15px;
    border-radius: 10px;
    background: var(--light-gray);
    text-align: center;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.page-link:hover{
    background: #3c3e44;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer{
    background-color: var(--dark);
    color: white;
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
}

// Fin Estilos Generales //

// Media Queries Responsive

@media (max-width: 1468px){
    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 53px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1440px){
    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 35px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .container-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 17px;
        margin-top: 5px;
    }

    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 71px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar{
        text-align: center;
        margin-left: 7px;
    }

    .footer{
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding: 8px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .container-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 17px;
        margin-top: 8px;
    }

    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 7px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar{
        text-align: center;
    }

    .footer{
        text-align: center;
    }
}

@media (max-width: 425px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .container-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 17px;
        margin-top: 5px;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 22px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar{
        text-align: center;
    }

    .footer{
        text-align: center;
    }
}

@media (max-width: 375px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding: 5px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card {
        background-color: #3c3e44;
        min-width: 320px;
        border-radius: 16px;
        overflow-x: hidden;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
        padding: 15px;
    }

    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar{
        text-align: center;
    }

    .footer{
        text-align: center;
    }

    .page-item {
        padding-top: 10px;
        margin-left: 4px;
    }
}

@media (max-width: 356px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .card {
        background-color: #3c3e44;
        min-width: 365px;
        border-radius: 16px;
        overflow-x: hidden;
        // box-shadow: 10px 10px 30px rgb(0 0 0 0 / 20%);
        padding: 12px;
    }

    .navbar {
        text-align: center;
        margin-left: 54px;
    }

    .footer{
        text-align: center;
        margin-right: -45px;
    }

    .page-link {
        width: 150px;
        height: 30px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        background: var(--light-gray);
        text-align: center;
        border: none;
        // box-shadow: 5px 5px 5px rgb(0 0 0 0/ 20%);
    }

    .page-item {
        padding-top: 16px;
        margin-left: 113px;
    }
}

@media (max-width: 360px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .card {
        background-color: #3c3e44;
        min-width: 320px;
        border-radius: 16px;
        overflow-x: hidden;
        padding: 10px;
    }

    .page-item {
        padding-top: 10px;
        margin-left: 1px;
    }

    .footer {
        text-align: center;
        font-size: 1.9rem;
        margin-left: -3px;
    }

}

@media (max-width: 320px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card {
        background-color: #3c3e44;
        min-width: 320px;
        border-radius: 16px;
        overflow-x: hidden;
        padding: 17px;
    }

    .card-body-img {
        border: 5px solid var(--dark);
        border-radius: 3%;
        margin-top: calc(-48px - 5px);
        background-color: white;
        margin-top: 10px;
        margin-left: 6px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar{
        text-align: center;
    }

    .footer{
        text-align: center;
        margin-right: -45px;
    }

    .page-link {
        width: 150px;
        height: 30px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        background: var(--light-gray);
        text-align: center;
        border: none;
        // box-shadow: 5px 5px 5px rgb(0 0 0 0/ 20%);
    }

    .page-item{
        padding-top: 10px;
        margin-left: 92px;
    }
}

@media (max-width: 315px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card {
        background-color: #3c3e44;
        min-width: 320px;
        border-radius: 16px;
        overflow-x: hidden;
        // box-shadow: 10px 10px 30px rgb(0 0 0 0 / 20%);
        padding: 15px;
    }

    .navbar{
        text-align: center;
        margin-left: 49px;
    }

    .footer{
        text-align: center;
        margin-right: -45px;
        margin-bottom: 25px;
    }

    .page-link {
        width: 150px;
        height: 30px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        background: var(--light-gray);
        text-align: center;
        border: none;
        // box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    }

    .page-item{
        padding-top: 10px;
        margin-left: 108px;
     }
}

@media (max-width: 310px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        // justify-content: center;
        // align-items: center;
        // height: 90vh;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card {
        background-color: #3c3e44;
        min-width: 320px;
        border-radius: 16px;
        overflow-x: hidden;
        // box-shadow: 10px 10px 30px rgb(0 0 0 0 / 20%);
        padding: 12px;
    }

    .navbar{
        text-align: center;
        margin-left: 49px;
    }

    .footer{
        text-align: center;
        margin-right: -45px;
        margin-bottom: 25px;
    }

    .page-link {
        width: 150px;
        height: 30px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        background: var(--light-gray);
        text-align: center;
        border: none;
        // box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    }

    .page-item{
        padding-top: 10px;
        margin-left: 108px;
     }
}

// Fin Media Queries Responsive //

